html, body {
    height: 100%;
    font-size: 13.333333vw;
}

body {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
}

.content {
    flex: 1;
    overflow-y: auto;
    background: #f8f8f8;
    width: 6.4rem;
    margin: auto;
    padding-top: 1.5rem;
}

h1 {
    font-size: 0.42rem;
    font-family: "黑体";
    font-weight: bold;
}

h3 {
    font-size: 0.24rem;
    color: #7f7f7f;
}

input {
    width: 6.4rem;
}

input:nth-of-type(1), input:nth-of-type(2) {
    border-bottom: 2px solid #e6e6e6;
    line-height: 1.18rem;
    font-size: 0.3rem;
}

input:nth-of-type(2) {
    position: relative;
}

p {
    font-size: 0.26rem;
    position: absolute;
    left: 5rem;
    top: 4.1rem;
    color: #79ad33;
}

input:nth-of-type(3) {
    width: 0.27rem;
    margin-top: 0.3rem;
}

span {
    color: #7f7f7f;
}

input:nth-of-type(4) {
    display: block;
    height: 0.96rem;
    background: #c9ebd9;
    color: #fefefe;
    font-size: 0.28rem;
    margin-top: 0.26rem;
}
input:nth-of-type(4):hover{
    background: #97d242;
}